
    $primary: #05445E;
    $secondary: #189AB4;
    $accent1: #75E6DA;
    $accent2: #D4F1F4;

.word-spin-container {
    width: 100%;
    display: grid;
    place-items: center;
    font-size: 2rem;
}

.wrapper {
    width: 100%;
    box-sizing: content-box;
    height: 2rem;
    padding: 50px 30px;
    display: flex;
    justify-content: center;
    white-space: nowrap;
    
    div {
        font-family: Cereal-Medium;
    }


}

.spinner-text {
    color: $secondary;
}
