    $primary: #05445E;
    $secondary: #189AB4;
    $accent1: #75E6DA;
    $accent2: #D4F1F4;

footer {
    z-index: 500;
    position: absolute;
    bottom: 0px;
    margin-bottom: 0px;
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;

    p {
        color: white;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    #back-to-top-footer {
        background-color: #16556f;
        display: flex;
        justify-content: center;
        align-items: center;
        
        &:hover {
            background-color: #115e7f;
            cursor: pointer;
        }
    }

    #blue-footer {
        background-color:#05445E;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 210px;
        
        a {
            text-decoration: none;
            color: white;
        }

        img {
            width: 150px;
            height: 50px;
        }
    }
    
    #black-footer {
        background-color:#032331;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;

        p {
    
            padding-block: 0.5rem;
        }
    }
}