
.user-page{
    // border: solid red 3px;
    display: flex;
    // justify-content: center;
    /* height: calc(100vh - 75px); */
    position: relative;
    // left: 250px;
    // width: calc(100% - 250px);
    height: 100%;
    overflow-x: scroll;
    width: 100vw
}

.user-container{
    // border: solid blue 3px;
    // width: inherit;
    height: 100%;
    // overflow-y: scroll;
}

.user-photo{
    // border: solid purple;
}

.user-info{
    // border: solid 3px orange;
}

.user-essential{
    // border: solid 3px yellow;
}

.user-essential p{
    font-size: medium;
    margin-left: .5em;
}

.user-essential h2{
    font-size: larger;
    margin-left: .5em;
}

.line-breaks{
    height: .3em;
}

.user-show-prof-icon{
    color: #0046f7;
    font-size: large;
}

.user-show-full-name{
    font-size: xx-large;
    margin-left: .2em;
}

.user-show-ints{
    margin-left: .5em;
    font-size: larger;
    margin-top: .5em;
}

.user-show-interests-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: .3em;
    font-size: large;
}

.user-show-interest{
    background-color: #189AB4;
    padding: .5em;
    margin-left: .5em;
    border-radius: 4px;
    font-size: small;
    color: white;
    &:hover{
        background-color:#73c6d7;
        transform: scale(1.1);
        cursor: default;
    }
}

.user-details{
    // border: solid 3px black;
    /* width: 100%; */
    display: flex;
    align-items: center;
    justify-content: center;
    ul{
        margin-top: 1.5em;
    }
}

.user-reviews-container{
    border: dashed 1px #189AB4;
    border-radius: 3px;
    width: 28%;
    height: 50em;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    // position: sticky;
    align-items: center;
    min-width: 220px;
    padding: .3em;
}

.reviews-title{
    font-size: larger;
    font-weight: 500;
    margin-top: 1em;
}

.user-show-banner{
    // background-color: green;
    // border: solid 3px green;
    // width: 100%;
    position: relative;
    object-fit: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12.3em;
    overflow: hidden;
    width: fit-content;
}

.user-show-banner-img{
    // background-color: blue;
    // height: 100%;
    max-width: 100%;
    // z-index: -1;
}

.user-show-profile-photo{
    // background-color: red;
    border: solid 3px white;
    border-radius: 1000px;
    width: 8em;
    height: 8em;
    top: 7.5em;
    position: absolute;
    left: 1em;
    object-fit: cover;
    overflow: hidden;
    // z-index: 100;
}

.space-for-photo{
    height: 3.6em;
}

.user-show-info-div{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    box-sizing: border-box;
    // border: solid 3px red;
    // background-color: aqua;
}

.user-show-info-div-left{
    width: 28%;
    min-width: 220px;
    // border: solid 3px blue;
    // border: dashed 1px #189AB4;
    border-radius: 3px;
    background-color: #73c6d7a5;
    overflow-y: auto;
    max-height: 50em;
    padding-inline: .5em;
    box-sizing: border-box;

}

.user-show-info-div-right{
    width: 100%;
    margin-right: 1em;
    box-sizing: border-box;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    // background-color: violet;
}

// .video-show-item{
//     min-width: 560;
//     min-height: 315;
//     width: 80%;
// }

.vid-show-title{
    text-align: center;
    margin-bottom: 1em;
    font-size: x-large;
    font-weight: 800;
}

.user-show-bookings{
    display: flex;
    /* align-items: center; */
    // border: solid 3px green;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    /* flex-direction: column; */
}

.user-show-bookings-form{
    display: flex;
    // border: solid 3px red;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

// .user-show-bookings-form button{
//     background-color: white;
//     border-radius: 3px;
//     padding: .2em;
// }

.user-show-bookings-div{
    // box-sizing: border-box;
    display: flex;
    // border: solid 3px violet;
    width: 100%;
    // overflow-y: scroll;
    // height: 20em;
    padding-top: 1.5em;
    align-items: flex-start;
    // height: 20em;
}

.user-show-bookings-ul{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.user-show-bookings-ul li{
    /* border: solid 3px black; */
    margin-top: .4em;
    padding: .3em;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    
}

.booking-show-list-item{
    display: flex;
    justify-content: center;
}

.bookings-show-div{
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    margin-top: .5em;
}
.bookings-show-edit{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

// .bookings-show-edit button{
//     background-color: white;
//     border-radius: 3px;
//     padding: .1em;
//     /* font-style: ; */
// }

.booking-show-edit-form form{
    input{
        margin-bottom: .5em;
    }
}

.booking-show-container{
    display: flex;
    flex-direction: column;
} 

.booking-show-title{
    margin-bottom: .4em;
    font-size: larger;
    font-weight: bolder;
}

.booking-show-date{
    margin-bottom: .3em;
    font-size: medium;
}

.booking-show-duration{
    margin-bottom: .3em;
    font-size: medium;
}

.booking-create-date{
    margin-bottom: .4em;
}

.booking-create-title{
    margin-bottom: .4em;
}

.booking-create-duration{
    margin-bottom: .4em;
}

.bk-form-input{
    width: 70%;
}

.book-form-title{
    text-align: center;
}


.star-wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    
    label {
        cursor: pointer;
        font-size: 1em;
        text-decoration: none;
        transition: all 0.5s;
        margin: 4px;
        color: grey;
    }
}

.star-wrapper label:hover {
    color: #189AB4;
}

.star:hover ~ label {
    color: #189AB4;
}

.star-wrapper input{
    display: none;
}

.star:checked ~ label {
    color: #189AB4;
}

.star:checked + label {
    animation: starred 0.5s;
}
  
.star:checked + label {
    animation: scaleup 1s;
}

@keyframes scaleup {
    from {
        transform: scale(1.2);
    }
    to {
        transform: scale(1);
    }
}

.review-div{
    display: flex;
    flex-direction: column;
}

.new-rev-container {
    width: 100%;
    form{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: 100%;
        margin-top: 1em;
        label{
            margin-top: .3em;
            margin-bottom: .3em;
        }
        input{
            margin-top: .3em;
            margin-bottom: .3em;
            width: 80%;
        }
        textarea{
            margin-top: .3em;
            margin-bottom: .3em;
            width: 80%;
        }
    }
}

.create-review-form{
    display: flex;
    justify-content: center;
    // align-items: center;
    height: 100%;
    width: 100%;
}

.review-data-cont{
    height: 100%;
}

// .review-item-show{
//     display: flex;
//     flex-direction: column;
// }

.rev-item-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    div{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: .5em;
        text-align: center;
    }
}

.rev-item-text{
    margin-bottom: .2em;
}

.rev-item-title{
    font-size: medium;
    font-weight: bolder;
    width: 100%;
    border-top: 1px dashed #189AB4;
    padding-top: .8em;
}

.rev-item-text{
    font-size: smaller;
}

.rev-show-stars{
    display: flex;
    flex-direction: row;
    color: #189AB4;
}

.user-show-buttons{
    margin-block: 0.5em;
    border-radius: 1.5em;
    width: 4.5em;
    border: none;
    padding-block: 0.5em;
    background-color: #189AB4;
    transition: 0.2s;
    color: white;
    &:hover{
        background-color:#73c6d7;
        transform: scale(1.1);
        cursor: pointer;
    }
}

.user-show-large-buttons{
    margin-block: 0.5em;
    border-radius: 1.5em;
    width: 8em;
    border: none;
    padding-block: 0.5em;
    background-color: #189AB4;
    transition: 0.2s;
    color: white;
    &:hover{
        background-color:#73c6d7;
        transform: scale(1.1);
        cursor: pointer;
    }
}

.user-show-larger-buttons{
    margin-block: 0.5em;
    border-radius: 1.5em;
    width: 10em;
    border: none;
    padding-block: 0.5em;
    background-color: #189AB4;
    transition: 0.2s;
    color: white;
    &:hover{
        background-color:#73c6d7;
        transform: scale(1.1);
        cursor: pointer;
    }
}

.edit-rev-form-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.edit-rev-label{
    margin-top: .8em;
}

.edit-rev-text{
    width: 80%;
    margin-bottom: 1em;
}

.edit-rev-stars{
    // min-width: 20px;
    margin-bottom: 1em;
}

.rev-container-div{
    width: 1.5em;
}


#review-form-errors {
    // border: 2px solid green;
    font-size: 12px;
    color: red;
    padding-top: 6%;
    padding-bottom: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    li {
        padding: 2px;
        
    }
}

#review-edit-errors {
        // border: 2px solid green;
        font-size: 12px;
        color: red;
        padding-top: 6%;
        padding-bottom: 1%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    
        li {
                padding: 2px;
        
            }
}

#booking-form-errors {
    font-size: 12px;
    color: red;
    padding-top: 3%;
    padding-bottom: 5%;
    li {
        padding: 2px;
    }
}

.hidden {
    display: none !important;
    // opacity: 0;
}