.user-page{
    border: solid red 3px;
    display: flex;
    justify-content: center;
    /* height: calc(100vh - 75px); */
    position: relative;
    left: 250px;
    width: calc(100% - 250px);
    height: 100%;
}

.user-container{
    border: solid blue 3px;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

.user-photo{
    border: solid purple;
}

.user-info{
    border: solid 3px orange;
}

.user-essential{
    border: solid 3px yellow;
}

.user-essential p{
    font-size: larger;
    margin-left: .5em;
}

.user-show-prof-icon{
    color: blue;
    font-size: large;
}

.user-show-full-name{
    font-size: xx-large;
    margin-left: .2em;
}

.user-show-ints{
    margin-left: .8em;
}

.user-show-interests-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: .3em;
}

.user-show-interest{
    background-color: bisque;
    padding: .5em;
    border-radius: 4px;
    font-size: medium;

}

.user-details{
    border: solid 3px black;
    /* width: 100%; */
}

.user-reviews-container{
    border: solid 3px green;
}

.user-show-banner{
    background-color: green;
    border: solid 3px green;
    height: 12.3em;
    /* width: 100%; */
}

.user-show-banner-img{
    background-color: blue;
    height: 100%;
    width: 100%;
}

.user-show-profile-photo{
    background-color: red;
    border: solid 3px black;
    border-radius: 1000px;
    width: 6em;
    height: 6em;
    top: 8em;
    position: relative;
    left: 1em;
}

.space-for-photo{
    height: 2.5em;
}

.user-show-info-div{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border: solid 3px red;
    background-color: aqua;
}

.user-show-info-div-left{
    width: 28%;
    border: solid 3px blue;
    background-color: wheat;
}

.user-show-info-div-right{
    width: 52%;
    border: solid 3px yellowgreen;
    background-color: violet;
}

.user-show-bookings{
    display: flex;
    /* align-items: center; */
    border: solid 3px green;
    flex-wrap: wrap;
    justify-content: center;
    width: 22%;
}

.user-show-bookings-form{
    display: flex;
    border: solid 3px red;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.user-show-bookings-form button{
    background-color: white;
    border-radius: 3px;
    padding: .2em;
}

.user-show-bookings-div{
    display: flex;
    border: solid 3px violet;
    width: 100%;
    overflow-y: scroll;
    height: 10em;
    padding-top: 3.5em;
}

.user-show-bookings-ul{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-show-bookings-ul li{
    /* border: solid 3px black; */
    margin-top: .4em;
    padding: .3em;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    
}

.booking-show-list-item{
    display: flex;
    justify-content: center;
}

.bookings-show-div{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.bookings-show-edit{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.bookings-show-edit button{
    background-color: white;
    border-radius: 3px;
    padding: .1em;
    /* font-style: ; */
}

/* .booking-show-container{
    display: flex;
    flex-direction: column;
} */

.booking-show-title{
    font-weight: 700;
    margin-bottom: .3em;
}
.booking-create-date{
    margin-bottom: .4em;
}

.booking-create-title{
    margin-bottom: .4em;
}

.booking-create-duration{
    margin-bottom: .4em;
}

.bk-form-input{
    width: 70%;
}