$primary: #05445E;
$secondary: #189AB4;
$accent1: #75E6DA;
$accent2: #D4F1F4;

.topic-page {
    // border: 2px solid red;

}

.video-index-header {
    // left: 250px;
    padding-left: 5%;
    // border: 2px solid blue;
    // width: calc(100% - 250px);
    height: 10vh;
    font-size: 30px;
    font-weight: 900;
    position: relative;
}

.video-list {
    // left: 250px;
    // border: 2px solid red;
    // width: calc(100% - 250px);
}

.vid-list-wrapper {
    // border: 2px solid green;
    // left: 250px;
    // width: calc(100% - 250px);
}

.video-index-item {
    padding: 2%;
    // border: 1px solid orange;
    width: fit-content;
}

.video-index-label {
    // border: 2px solid purple;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    box-shadow: 0px 2px 12px lightgray;

}

.video-topic {
    margin-block: 0.5em;
    border-radius: 1.5em;
    width: 10em;
    border: none;
    padding-block: 0.5em;
    background-color: #189AB4;
    transition: 0.2s;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
}   

.video-index-link {
    width: 80%;
    // border: 1px solid black;
    padding: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tags {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
}

.vid-index-title {
    text-decoration: none;
    font-size: 18px;
    font-weight: 900;
    color: black;
}

.uploader-or-topic-name {
    display: flex;
    width: 40%;
    padding: 2%;
}

.video-show-page {
    // border: 2px solid pink;
    width: 94%;
    margin: 3%;
    // padding: 3%;
    display: grid;
    grid-template-columns: 60% 35%;
    gap: 5%;

    > div {
        height: 93%;
    }

}

.video-show-wrapper {
    display: flex;
    flex-direction: column;
    height: 70%;
    box-shadow: 0px 2px 12px lightgray;
    iframe {
        height: 100%;
    }

    > * {
        padding: 0 2rem 0 2rem;
        margin: 2rem 0 2rem 0;
    }
    
    > .video-buttons {
        bottom: 0;
        justify-content: end;
    }
}
video:-webkit-full-page-media  {
    width: 100%;
}

.vid-desc {
    position: relative;
    width: 100%;
    height: 70%;
    min-width: 275px;
    box-shadow: 0px 2px 12px lightgray;
    
    > * {
        padding: 2rem;
    }

    > p {
        overflow: auto;
        max-height: 70%;
        padding-top: 0;
    }

    .video-buttons {
        position: absolute;
        bottom: 0%;
        right: 0%;

        button {
            margin-left: 10px;
            border-radius: 3px;
            width: 8em;
            height: 2em;
            border: none;
            background-color: $secondary;
            transition: 0.2s;
            color: white;
        }
    }
}

.vid-desc-header {
    font-size: 20px;
    font-weight: 700;
    margin: 3% 0% 0 0;
}

.vid-show-title {
    // border: 2px solid rebeccapurple;
    display: flex;
    align-items: center;
    justify-content: start;
    margin: 0;
    padding-bottom: 0;
}

.vid-show-title-text {
    // border: 2px solid yellowgreen;
    font-size: 28px;
    font-weight: 900;
}

.vid-show-user {
    display: flex;
    align-items: center;
    justify-content: start;
    font-size: 20px;
    font-family: Cereal-Medium;

    a {
        color: inherit;
    }
}

.vid-info-icon {
    padding-top: 2px;
    vertical-align: middle;
}

